h1 {width: 600px; text-align: center; font-family: sans-serif;}

h2 {width: 600px; text-align: center; font-family: sans-serif;}

select {text-align: left; font-family: sans-serif;}

section.section1{background-color: #3366FF; visibility: hidden; font-family: sans-serif; position: absolute; left: 25px; top: 125px; width: 600px; }

#assn4-bluepicture {padding: 5px; float: right; height: 35%; width: 35%; border: thick}

section.section2{background-color: #DDCCFF; visibility: hidden; font-family: sans-serif; position: absolute; left: 25px; top: 125px; width: 600px;}

#assn4-purplepicture {padding: 5px; float: right; height: 35%; width: 35%; border: thick;}

footer {width: 600px; font-family: sans-serif; font-style: italic; text-align: center; position: relative; top: 240px;}
